<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tocea.codewatch.architecture.dsl.ArchitectureExtensionGenerator">
      <generator
            class="com.tocea.codewatch.architecture.generator.emf.EmfExtensionGenerator">
      </generator>
   </extension>

</plugin>
