<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.tocea.scertify.architecture.xadl.generator">
      <generator
            class="com.tocea.scertify.architecture.generator.emf.EmfExtensionGenerator">
      </generator>
   </extension>

</plugin>
