*.class
*.DS_Store

# Package Files #
#*.jar
*.war
*.ear

#Antlr
*.antlr*

# Eclipse projects
.project
!*/.project
**/.settings/*

# Maven
**/target/*

# com.tocea.codewatch.architecture
#com.tocea.codewatch.architecture/.classpath
#com.tocea.codewatch.architecture/.project
#com.tocea.codewatch.architecture/target

# Generated sources are not included
*_gen
*._trace

# Ignore anything in a bin folder
**/bin/*
com.tocea.scertify.architecture.aql/.launch/Launch Runtime Eclipse.launch


