*.class
*.DS_Store

# Package Files #
*.jar
*.war
*.ear

# Eclipse projects
.project
!*/.project
*/.settings/*

# Maven
*/target/*
*/*/target/*

# com.tocea.codewatch.architecture
com.tocea.codewatch.architecture/.classpath
com.tocea.codewatch.architecture/.project
com.tocea.codewatch.architecture/target

# Generated sources are not included
*/src-gen/*
*/xtend-gen/*
*_gen
*._trace

# Ignore anything in a bin folder
*/bin/*
com.tocea.codewatch.architecture.dsl/.launch/Launch Runtime Eclipse.launch

