*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse projects
.project
!*/.project
*/.settings/*

# com.tocea.codewatch.architecture
com.tocea.codewatch.architecture/.classpath
com.tocea.codewatch.architecture/.project
com.tocea.codewatch.architecture/target

# Generated sources are not included
*/src-gen/*
*/xtend-gen/*
*_gen

# Ignore anything in a bin folder
*/bin/*