<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="ArchitectureExtensionGenerator" name="com.tocea.codewatch.architecture.extension.generator" schema="schema/ArchitectureExtensionGenerator.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.tocea.com/codewatch/architecture/dsl/ArchitectureDSL" 
       class = "com.tocea.codewatch.architecture.dsl.architectureDSL.ArchitectureDSLPackage"
       genModel = "com/tocea/codewatch/architecture/dsl/ArchitectureDSL.genmodel" /> 
	
  </extension>





</plugin>
