<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="generator" name="Architecture Extension Generator" schema="src/main/resources/schema/ArchitectureExtensionGenerator.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.tocea.com/scertify/architecture/xadl/ArchitectureDSL" 
       class = "com.tocea.scertify.architecture.xadl.architectureDSL.ArchitectureDSLPackage"
       genModel = "com/tocea/scertify/architecture/xadl/ArchitectureDSL.genmodel" /> 
	
  </extension>





</plugin>
