<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="generator" name="Architecture Extension Generator" schema="src/main/resources/schema/ArchitectureExtensionGenerator.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.tocea.com/codewatch/architecture/dsl/ArchitectureDSL" 
       class = "com.tocea.codewatch.architecture.dsl.architectureDSL.ArchitectureDSLPackage"
       genModel = "com/tocea/codewatch/architecture/dsl/ArchitectureDSL.genmodel" /> 
	
  </extension>





</plugin>
